@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --grey-color: #cccccc;
    --blue-color: #0f1829;
    --white-color: #ffffff;
    --soft-blue-color: #182641;
    --contrast-color: #295b5d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

svg {
    fill: var(--dark-green-color);
}

body {
    height: 100%;
    background: var(--blue-color);
}

header {
    position: fixed;
    background: var(--blue-color);
    width: 100%;
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    opacity: 0;

    .brand {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .brand-img {
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .logo {
            font-size: 1.8rem;
            text-decoration: none;
            color: var(--grey-color);
        }
    }

    .navbar {
        gap: 3rem;
        background-color: var(--blue-color);

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 1.8rem;
            text-decoration: none;
            color: var(--grey-color);
            transition: color 0.3s ease;

            &:hover {
                color: var(--contrast-color);
            }
        }
    }

    .offcanvas {
        background: var(--blue-color);
        color: var(--grey-color);
        text-align: center;
    }

    .navbar-toggler {
        background: var(--grey-color);
    }

    &.active {
        animation: show-header .2s linear forwards;
        animation-delay: .5s;
    }

    .social-media {
        .sm {

            a {
                text-decoration: none;
                display: inline-flex;
                padding: 0.8rem;
                border: 0.2rem solid var(--grey-color);
                border-radius: 50%;
                font-size: 1.4rem;
                color: var(--grey-color);
                margin: 0 .8rem;
                transition: color 0.3s ease;
            }

            a:hover {
                background: var(--contrast-color);
                color: var(--blue-color);
                border: 0.2rem solid var(--blue-color);
            }
        }
    }
}

main {
    .container {
        .row {
            section {
                opacity: 0;
                visibility: hidden;

                &.home {
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .home-img {
                        img {
                            width: 180px;
                            height: 180px;
                            border-radius: 50%;
                            overflow: hidden;
                            border: 4px solid var(--contrast-color);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .home-mainText {
                        color: var(--grey-color);
                        text-align: center;

                        h1.myName {
                            font-size: 8rem;

                            span {
                                color: var(--contrast-color);
                            }
                        }

                        p.profiles {
                            font-size: 2.2rem;
                        }

                        .address {
                            text-align: center;
                            font-size: 1.8rem;
                        }
                    }
                }

                &.active {
                    animation: show-content .8s linear forwards;
                    animation-delay: .8s;
                }
            }
        }
    }
}

@keyframes show-header {

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes show-content {

    100% {
        visibility: visible;
        opacity: 1;
        overflow: auto;
    }
}