* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 0 60px;

    .first-view-container {
        height: 100vh;

        .navBar-container {
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .profile-container {
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;

            .profile-inner {
                P.text {
                    font-family: 'Nunito', sans-serif;
                    font-size: 2rem;

                    a {
                        font-family: 'Noto Serif Khitan Small Script', sans-serif;
                        color: rgb(92, 92, 255);
                    }
                }

                p.pre-title {
                    font-family: 'NRT Reg', sans-serif;
                    font-size: 20px;
                    font-weight: bolder;
                    color: rgb(92, 92, 255);
                }

                h1 {
                    font-family: 'Noto Serif Khitan Small Script', sans-serif;
                    font-weight: bolder;
                    font-size: 5.5rem;
                    color: #383838;
                }
            }
        }

    }

    .footer-container {
        height: 10%;
    }

}