* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.main-container {
    background-color: #EAEAEA;


    .first-view-container {
        height: 100vh;
        padding: 0 60px;

        .welcome-container {
            height: 100%;

            .welcome-inner {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .brand-container {
                    img {
                        width: 150px;
                        height: 150px;
                        border-radius: 100%;
                    }
                }

                h1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 5rem;
                    font-family: 'Nunito', sans-serif;
                }

                P.text {
                    font-family: 'Nunito', sans-serif;
                    font-size: 23px;
                    font-weight: bold;


                    a {
                        font-family: 'Noto Serif Khitan Small Script', sans-serif;
                        color: rgb(26, 26, 236);
                    }
                }

                p.pre-title {
                    font-family: 'Nunito', sans-serif;
                    font-size: 45px;
                    font-weight: bold;
                    color: rgb(0, 0, 97);
                }


                .btn-frontend {
                    font-family: 'Montserrat', sans-serif;
                    cursor: pointer;
                    position: relative;
                    padding: 10px 20px;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    transition: all 1s;
                    text-decoration: none;
                    color: #161616;
                    font-size: 5rem;

                    &:after,
                    &:before {
                        content: " ";
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        border: 0px solid #fff;
                        transition: all 1s;
                    }

                    &:after {
                        top: -1px;
                        left: -1px;
                        border-top: 5px solid #3DCFB6;
                        border-left: 5px solid #3DCFB6;
                    }

                    &:before {
                        bottom: -1px;
                        right: -1px;
                        border-bottom: 5px solid #3DCFB6;
                        border-right: 5px solid #3DCFB6;
                    }

                    &:hover {
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;

                        &:before,
                        &:after {

                            width: 100%;
                            height: 100%;

                        }
                    }
                }

                .btn-data {
                    text-align: center;
                    font-size: 5rem;
                    font-family: 'IBM Plex Sans', sans-serif;
                    position: relative;
                    transition: 0.3s ease all;
                    z-index: 1;
                    text-decoration: none;
                    color: #003366;
                    padding: 10px;

                    &::before {
                        transition: 0.5s all ease;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        right: 50%;
                        bottom: 0;
                        opacity: 0;
                        content: '';
                        background-color: #003366;
                        z-index: -1;
                        border-radius: 15px;
                    }

                    &:hover,
                    &:focus {
                        color: white;
                    }

                    &:hover::before,
                    &:focus::before {
                        transition: 0.5s all ease;
                        left: 0;
                        right: 0;
                        opacity: 1;
                    }
                }



            }
        }

    }

    footer {
        background-color: rgb(42, 42, 80);
        color: #FFFFFF;
        text-align: center;
        padding: 1rem;
    }
}