* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.main-container {
    background-color: #EAEAEA;

    .view {
        height: 100vh;
        padding: 0 60px;
    }   

    

    footer {
        background-color: rgb(42, 42, 80);
        color: #FFFFFF;
        text-align: center;
        padding: 1rem;
    }
}