<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="header-inner">
        <div class="brand-container">
            <a href="">
                <img src="https://unavatar.io/github/SagoDev" alt="">
                <span>Santiago Lanz</span>
            </a>
        </div>
        <div class="options-container">
            <ul class="nav nav-underline nav-fill">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/what_can_I_do.html">¿Qué sé hacer?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/who_am_I.html">¿Quién soy?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>