.header-inner {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    .options-container {
        li {
            font-family: 'Noto Serif Khitan Small Script', sans-serif;
            padding: 20px;
            font-size: 18px;
            text-decoration: none;

            a {
                color: #383838;
            }
        }
    }
}