.skills-view-container {
    height: 100%;

    .area-view-container {
        height: 100%;       

        .title-container {
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;

            h1 {
                font-family: 'Noto Serif Khitan Small Script', sans-serif;
                font-weight: bolder;
                font-size: 5rem;
                color: #383838;
            }

        }

        .areas-container {
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;

            .card {
                border: none;

                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;


                    .card-title {
                        font-family: 'NRT Reg', sans-serif;
                        font-size: 35px;
                        text-align: center;
                    }

                    .icons-container {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 20px;
                    }

                    .card-text {
                        font-family: 'Nunito', sans-serif;
                        font-weight: bolder;
                        font-size: 25px;
                        text-align: center;

                        a {
                            font-family: 'Noto Serif Khitan Small Script', sans-serif;
                            color: rgb(92, 92, 255);
                        }
                    }

                }


            }

        }

    }
}