.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .contact-container {
        justify-content: center;
        align-items: center;
        width: 100%;

        .contact-box {
            text-align: center;
           

            &:first-child {
                align-self: center;
            }

            .desc {
                margin: 1.5rem 0 2.5rem;
                font-size: 2rem;
            }

            .heading {
                font-size: 4.5rem;

                span {
                    color: var(--main-color);
                }
            }

            form {
                background: var(--bg-second-color);
                padding: 2.5rem 3.5rem 2.5rem;
                border-radius: 1rem;
                text-align: center;

                .input-box {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 2rem;

                    .input-field {

                        input,
                        textarea {
                            width: 100%;
                            padding: 1.5rem;
                            background: var(--dark-color);
                            border: .15rem solid var(--disabled-color);
                            border-radius: .6rem;
                            font-size: 1.6rem;
                            color: var(--bg-color);

                            &:focus {
                                border-color: var(--main-color);
                            }

                        }

                        textarea {
                            grid-column: 1/-1;
                            height: 10rem;
                            resize: none;
                        }

                        label {
                            display: none;
                            width: 100%;
                            color: #d93025;
                            font-size: 14.5px;
                            text-align: left;
                            margin: -5px 0 10px;
                        }

                        &.error {
                            .item {
                                border-color: #d93025;
                            }

                            .error-text {
                                display: block;
                            }
                        }

                    }
                }

                .btn {
                    margin-top: 1rem;
                    display: inline-block;
                    padding: 1rem 3rem;
                    background: var(--main-color);
                    border: 0.2rem solid var(--main-color);
                    border-radius: 4rem;
                    font-size: 1.6rem;
                    color: var(--bg-color);
                    font-weight: 500;
                    transition: .5s;

                    &:hover {
                        box-shadow: 0 0 1rem var(--main-color);
                    }
                }
            }
        }
    }
}