:root {
    /* Colores principales */
    /*Negro*/
    --black-color: #020202;
    /* Turquesa */
    --turquoise-color: #3DCFB6;
    /* Blanco */
    --white-color: #F3F8F9;


}

body {
    background-color: var(--black-color);
    color: var(--white-color);
}

H3,
body {
    font-family: 'Raleway', sans-serif;
}

H1,
H2 {
    font-family: 'Prosto One', sans-serif;
}

.main-container {
    position: relative;

    .divider {
        height: 100px;
        width: 100%;
    }

    .view {
        height: 100vh;
    }


    .white-line {
        height: 170px;
        width: 2px;
        background-color: var(--white-color);

    }

    .turquoise {
        color: var(--turquoise-color);
    }

    .bg-text {
        white-space: pre-wrap;
        opacity: 0.2;
    }

    .social-media {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        font-size: 2rem;
        width: 5%;

        a {
            color: var(--white-color);
        }
    }

    .sections-container {

        .welcome-container {
            width: 100%;
            padding-left: 100px;

            .navBar-container {
                width: 100%;
                height: 10%;

                color: var(--white-color);

                .brand-container {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    text-align: center;
                    font-size: 35px;

                    .name {
                        font-weight: 600;
                    }
                }

                .options-container {
                    font-weight: 500;
                    font-size: 20px;

                    a {
                        color: var(--white-color);
                    }
                }
            }

            .welcome-content {
                position: relative;
                height: 90%;
                width: 100%;

                .img-container {
                    background-image: url('/img/background-welcome-img.webp');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-color: none;
                    box-shadow:
                        inset 0 0 250px rgb(8, 8, 8),
                        inset 0 0 500px rgba(22, 22, 22, 0.8),
                        inset 0 0 700px rgba(22, 22, 22, 0.6),
                        0 0 50px rgba(22, 22, 22, 0.1);
                }

                .text-container {
                    display: flex;
                    align-items: start;
                    justify-content: space-between;
                    flex-direction: column;

                    .bg-text {

                        &.text-one {
                            display: flex;
                            align-items: start;
                            justify-content: end;
                            color: var(--white-color);
                        }

                        &.text-two {
                            display: flex;
                            align-items: end;
                            justify-content: start;
                            text-align: start;
                            color: var(--turquoise-color);

                        }
                    }
                }

                .text-three {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                    color: var(--white-color);

                    h1 {
                        font-size: 4.5rem;
                        font-weight: 600;
                    }

                    .lines {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        .line-two {
                            align-self: flex-end;
                            color: var(--turquoise-color);
                        }

                        .line-three {
                            text-align: end;
                            padding-right: 90px;
                        }
                    }
                }
            }
        }

        .about-container {
            padding-top: 50px;
            width: 100%;

            .about-title {
                text-align: center;

                h2 {
                    font-size: 3rem;
                }
            }

            .imgText-container {
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-top: 50px;

                .about-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .img {

                        img {
                            width: 350px;
                            height: 350px;
                            border-radius: 100%;
                            border: solid var(--turquoise-color);
                        }
                    }
                }

                .about-text {
                    font-size: 23px;

                    .dots {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .skills-container {
            width: 100%;
            padding-top: 50px;

            .skills-title {
                text-align: center;

                h2 {
                    font-size: 3rem;
                }
            }

            .skills-cards {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 50px;
                padding: 50px;

                .card {    
                    width: 200px;
                    height: 200px;
                    background-color: #161616;
                    border: 1px solid #161616;
                    border-radius: 8px;
                    box-shadow: 0 4px 6px #161616;
                    padding: 16px;
                    text-align: center;
                    color: var(--white-color);
                    
                    .card-body{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}