@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
  --darken-color: #363636;
  --grey-color: #f9f9f9;
  --white-color: #ffffff;
  --black-color: #000000;
  --dark-green-color: #295b5d;
  --soft-green-color: #12d6bd;
  --aquamarine-color: #c2eeeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", serif;
  border: none;
  outline: none;
  text-decoration: none;
}

svg {
  fill: var(--dark-green-color);
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  background: var(--grey-color);
}

header {
  position: fixed;
  background: var(--grey-color);
  width: 100%;
  padding: 1rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  .logo {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--darken-color);

    .desc {
      font-weight: 1000;
    }
  }

  .navbar {
    display: flex;
    justify-content: center;
    gap: 3rem;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 1.6rem;
      text-decoration: none;
      color: var(--dark-color);

      &:hover {
        color: var(--dark-green-color);
        font-weight: 1000;
      }

      &.active {
        color: var(--dark-green-color);
        font-weight: 1000;
      }
    }
  }
}

section {
  padding: 10rem 9% 2rem;

  .section-title {
    margin-bottom: 2rem;
    text-align: center;

    h1 {
      color: var(--dark-green-color);
      font-size: 5rem;
      font-weight: 1000;
    }
  }

  &.ad-home {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;

    .ad-home-detail {
      height: 85%;
      justify-content: space-between;
      align-items: center;

      .text-detail {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
          font-size: clamp(1.5rem, 8vw, 5.5rem);
          font-weight: 1000;
        }

        h2 {
          font-weight: 500;
          font-size: 2.5rem;
          margin-top: -1rem;
        }

        p {
          font-size: 1.6rem;
          margin: 1rem 0 2.5rem;
        }
      }

      .ad-home-img {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .btn-sm {
      display: flex;
      align-items: center;
      height: 15%;

      .sm {
        width: 100%;

        a {
          display: inline-flex;
          padding: 0.8rem;
          font-size: 1.6rem;
          color: var(--black-color);
          margin: 0 .8rem;

          &:hover {
            color: var(--dark-green-color);
          }
        }
      }
    }

    .bg-circle {
      position: absolute;
      width: 40vw;
      height: 40vw;
      background: var(--white-color);
      border-radius: 50%;
      display: flex;
      z-index: -1;
      overflow: hidden;
    }
  }

  &.ad-about {
    width: 100%;

    .about-content {
      height: 100%;

      .about-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
          width: 100%;
          color: var(--dark-green-color);
        }

        p {
          font-size: 1.5rem;
        }

      }

      .about-skills {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin: 0 auto;
        gap: 2rem;
        padding: 2rem;

        .skill-card {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          border-radius: 20%;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          padding: 1rem;
          color: var(--dark-green-color);
          min-height: 150px;
          max-height: 200px;

          h1 {
            font-size: 2rem;
            font-weight: 1000;
          }

          .icon-box {
            font-size: 8rem;
          }
        }
      }
    }
  }

  &.ad-projects {
    width: 100%;

    h3 {
      color: var(--dark-green-color);
      font-size: 2.2rem;
      font-weight: 1000;
    }

    p {
      font-size: 1.4rem;

      a {
        display: inline-flex;
        font-size: 1.6rem;
        color: var(--black-color);

        &:hover {
          color: var(--dark-green-color);
        }
      }
    }
  }

  &.ad-contact {
    width: 100%;
    height: 100%;


    .row {
      justify-content: center;

      .form-box {
        width: 100%;
        height: 100%;
        color: var(--dark-green-color);


        .text-form {
          display: flex;
          text-align: center;
          justify-content: center;
          flex-direction: column;
          color: var(--black-color);
          padding: 3rem;

          p {
            font-size: 1.6rem;
          }

          h2 {
            font-size: 4rem;

            span {
              color: var(--dark-green-color);
            }
          }
        }

        .form-container {
          form {
            padding: 1rem;
            text-align: center;

            .input-box {

              textarea {
                height: 20rem;
                resize: none;
              }

              input,
              textarea {
                margin-bottom: 2rem;
                width: 100%;
                padding: 1.5rem;
                background: var(--white-color);
                border: .15rem solid var(--dark-green-color);
                border-radius: .6rem;
                font-size: 1.6rem;
                color: var(--black-color);

                &:focus {
                  border-color: var(--soft-green-color);
                }
              }

              label {
                display: none;
                width: 100%;
                color: #d93025;
                font-size: 14.5px;
                text-align: left;
                margin: -5px 0 10px;
              }

              &.error {
                .item {
                  border-color: #d93025;
                }

                .error-text {
                  display: block;
                }
              }
            }

            .btn-form {
              margin-top: 1rem;
              display: inline-block;
              padding: 1rem 3rem;
              background: var(--dark-green-color);
              border: 0.2rem solid var(--aquamarine-color);
              font-size: 1.6rem;
              color: var(--white-color);
              font-weight: 500;
              transition: .5s;

              &:hover {
                background: var(--soft-green-color);
              }
            }
          }
        }
      }
    }
  }
}