@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
  --darken-color: #363636;
  --grey-color: #f9f9f9;
  --white-color: #ffffff;
  --black-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", serif;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  background: var(--grey-color);
}

header {
  position: fixed;
  background: var(--grey-color);
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  .logo {
    font-size: 2.5rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--darken-color);

    .desc {
      font-weight: 1000;
    }
  }

  .navbar {
    display: flex;
    justify-content: center;
    gap: 3rem;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 500;
      text-decoration: none;
      color: var(--darken-color);
      position: relative;

      .dot {
        font-size: 3rem;
        line-height: 0;
        color: var(--black-color);
        visibility: hidden;
        margin-top: 1px;
      }

      &:hover {
        color: var(--black-color);
        font-weight: 1000;
      }

      &.active {
        color: var(--black-color);
        font-weight: 1000;

        .dot {
          visibility: visible;
        }
      }
    }
  }
}

section {
  height: 100vh;
  padding: 10rem 9% 2rem;

  &.ad-home {
    width: 100%;
    justify-content: center;
    align-items: center;

    .ad-home-detail {
      height: 85%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text-detail {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
          font-size: clamp(1.5rem, 8vw, 5.5rem);
          font-weight: 1000;
        }

        h2 {
          font-weight: 500;
          font-size: 2.5rem;
          margin-top: -1rem;
        }

        p {
          font-size: 1.6rem;
          margin: 1rem 0 2.5rem;
        }
      }

      .ad-home-img {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .btn-sm {
      display: flex;
      align-items: center;
      height: 15%;

      .sm {
        width: 100%;

        a {
          text-decoration: underline var(--black-color);
          display: inline-flex;
          padding: 0.8rem;
          font-size: 1.6rem;
          color: var(--main-color);
          margin: 0 .8rem;

          &:hover {
            color: var(--black-color);
          }
        }
      }
    }

    .bg-circle {
      position: absolute;
      width: 40vw;
      height: 40vw;
      background: var(--white-color);
      border-radius: 50%;
      display: flex;
      z-index: -1;
      overflow: hidden;
    }
  }
}