* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.up-view-container,
.bottom-view-container {
    height: 100vh;
}

.header-container,
.footer-container,
.title-container{
    height: 10%;
}
.areas-container{
    height: 80%;
}